*,
*::before,
*::after {
  box-sizing: border-box;
}

/* root styles */
.root {
  --background-colour: #fff;
  --header-text-colour: black;
  --form-text-colour: black;
}

/* light mode styles */
html[data-theme = 'light'] {
  --background-colour: #fff;
  --header-text-colour: black;
  --form-text-colour: black;
  --blog-border-colour: black;
}

/* dark-mode styles */
html[data-theme = 'dark'] {
  --background-colour: #212a2e;
  --header-text-colour: #fff;
  --form-text-colour: #9fb1b9;
  --blog-border-colour: rgb(58, 53, 151);
}

/* body styles */
body {
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
  font-family: monospace, Arial, sans-serif;
}

/* header styles */
header {
  width: 100%;
  padding: 1%;
  margin-bottom: 3em;
  position: relative;
  flex-direction: column;
  /* background-image: url(../images/light-mode-stock-image.jpeg);
  background-size: cover;
  background-position: center; */
  height: 12em;
}

h1 {
  color: var(--header-text-colour);
  font-size: 300%;
}

header p {
  color: var(--header-text-colour);
  position: absolute;
  bottom: 12%;
  right: 0.5%;
}


/* back button styles */
.back-button {
  display: inline-block;
  width: fit-content;
  position: absolute;
  top: 0.5%;
  right: 0.5%;
}

.back-button:hover button {
  cursor: pointer;
}

/* light mode dark mode switch */
.switch {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  width: 60px;
  height: 34px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.mode-switch input:checked + .slider {
  background-color: #2196F3;
}

.mode-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.mode-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}