*,
*::before,
*::after {
  box-sizing: border-box;
}

/* root styles */
.root {
  --background-colour: #fff;
  --header-text-colour: #fff;
  --form-text-colour: #a2c0cd;
  --form-colour: rgb(14, 10, 87);
}

/* light mode styles */
html[data-theme = 'light'] {
  --background-colour: #fff;
  --header-text-colour: black;
  --form-text-colour: #a2c0cd;
  --form-colour: rgb(14, 10, 87);
}

/* dark-mode styles */
html[data-theme = 'dark'] {
  --background-colour: #212a2e;
  --header-text-colour: #fff;
  --form-text-colour: #9fb1b9;
  --form-colour: rgb(58, 53, 151);
}

/* body styles */
body {
  display: flex;
  flex-direction: column;
  font-family: monospace, Arial, sans-serif;
  background-color: var(--background-colour);
}

/* header styles */
header {
  width: 100%;
  padding: 1%;
  margin-bottom: 3em;
  position: relative;
  flex-direction: column;
  height: 12em;
}

h1 {
  color: var(--header-text-colour);
  font-size: 300%;
  margin: 0;
}

header p {
  color: var(--header-text-colour);
  position: absolute;
  bottom: 13%;
  right: 1%;
}

/* light mode dark mode switch */
.switch {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  width: 60px;
  height: 34px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2em;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.mode-switch input:checked + .slider {
  background-color: #2196F3;
}

.mode-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.mode-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* form styles */
.card {
  background-color: var(--form-colour);
  width: 40vw;
  position: absolute;
  top: 25%;
  left: 30%;
  height: 42em;
}

form {
  text-align: center;
}

h2 {
  color: var(--form-text-colour);
  text-align: center;
  font-size: 250%;
  margin-bottom: 5%;
}

label {
  color: var(--form-text-colour);
  display: inline-block;
  width: 100%;
  padding: 1%;
  font-size: 150%;
  width: 100%;
  text-align: center;
}

.card input {
  display: inline-block;
  padding: 1%;
  width: 50;
}

textarea {
  height: 10em;
  width: 60%;
  margin-bottom: 20%;
}

#submit-button {
  text-align: center;
  font-size: 150%;
}

.blog-submit:hover input{
  cursor: pointer;
}













@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }
}